/mods
/saves
/xaero
/resourcepacks
/local
/logs
usernamecache.json
usercache.json
rhino.local.properties
/XaeroWaypoints_BACKUP240807
options.txt
icon.png
/modernfix/structureCacheV1
*.log
/shaderpacks
/simplebackups
/crash-reports
emi.json
/screenshots
patchouli_data.json
/.vscode
/asm
.qmenu_opened.marker
/journeymap
data/fabricDefaultResourcePacks.dat
fancymenu_data/last_world.fmdata
/.mixin.out
win_event1747516230141.txt
/fancymenu_data
config/WildfireGender/e167f3fe-1cc7-43aa-a558-cdd0babd44ce.json
config/spark/activity.json
win_event1748336599297.txt
config/spark/activity.json
config/spark/activity.json
config/spark/activity.json
